<template>
  <div>
    <!-- Main container -->
    <main class="main-content">

      <section class="section" id="section-form">
        <div class="container">
          <header class="section-header" style="margin: 0 auto 20px;">
            <h1 v-text="mainTitle"></h1>
            <hr>
          </header>

          <div class="row gap-y">
              <div class="col-12 col-lg-12">
                <button class="btn btn-primary float-right" @click="add()">Adicionar</button>
              </div>
              <div class="col-12 col-lg-12">
                  <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Nome</th>
                          <th>Opções</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="category in categories">
                          <th scope="row" v-text="category.id"></th>
                          <td v-text="category.name"></td>
                          <td>
                              <button class="btn btn-warning btn-outline btn-sm"
                                      @click="edit(category)">
                                  editar
                              </button>
                              <button class="btn btn-danger btn-outline btn-sm"
                                      @click="remove(category.id)">
                                remover
                              </button>
                          </td>
                        </tr>
                        <tr v-show="!loading && categories.length === 0">
                          <td colspan="3">Nenhuma categoria cadastrada</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
        </div>
      </section>
    </main>
    <!-- END Main container -->
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalLabel" v-text="currentCategory.id === null ? 'Adicionar Categoria' : 'Editar Categoria'"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Cancelar">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="form-type-material" role="form" @submit.prevent="handleSubmit()">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Nome" name="nome" required="" v-model="currentCategory.name">
                </div>
                <br>
                <button class="btn btn-bold btn-block btn-success" type="submit">Salvar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import http from '@/utils/http'

export default {
  name: 'categories',
  data () {
    return {
      loading: true,
      categories: [],
      currentCategory: {
        id: null,
        name: ''
      }
    }
  },

  computed: {
    mainTitle () {
      if (this.loading) {
        return 'Carregando as categorias...'
      }

      return 'Categorias'
    }
  },

  mounted () {
    this.loadAll()
  },

  methods: {
    handleSubmit () {
      this.currentCategory.id === null ? this.save() : this.update()
    },

    add () {
      this.currentCategory = {
        id: null,
        name: ''
      }
      this.showModal()
    },

    showModal () {
      /* eslint-disable no-undef */
      jQuery('#Modal').modal('show')
    },

    hideModal () {
      /* eslint-disable no-undef */
      jQuery('#Modal').modal('hide')
    },

    save () {
      http.post('categories', this.currentCategory).then(
        (response) => { // success
          this.loadAll()
          this.hideModal()
          swal('Sucesso!', 'Categoria Adicionada', 'success')
        },
        (response) => { // fail
          this.hideModal()
          swal('Oops...', 'Falha ao salvar a categoria!', 'error')
        }
      )
    },

    edit (category) {
      this.currentCategory = {
        id: category.id,
        name: category.name
      }
      this.showModal()
    },

    update () {
      http.put(`categories/${this.currentCategory.id}`, this.currentCategory).then(
        (response) => { // success
          this.loadAll()
          this.hideModal()
          swal('Sucesso!', 'Categoria Atualizada', 'success')
        },
        (response) => { // fail
          this.hideModal()
          swal('Oops...', 'Falha ao atualizar a categoria!', 'error')
        }
      )
    },

    remove (categoryId) {
      let self = this
      swal({
        title: 'Você tem certeza?',
        text: 'Essa categoria apenas será removida do sistema caso nenhum post esteja vinculado a ela.',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Sim, remova.',
        cancelButtonText: 'Cancelar'
      }).then(() => {
        http.delete(`categories/${categoryId}`).then(
          (response) => {
            self.loadAll()
            swal(
              'Sucesso!',
              'Categoria removida do sistema.',
              'success'
            )
          },
          (response) => {
            swal('Oops...', 'Falha ao remover a categoria! Verifique se não existe nenhum post relacionado a essa categoria e tente novamente.', 'error')
          }
        )
      })
    },
    loadAll () {
      http.get(`categories`).then(
        (response) => { // success
          this.categories = response.data.data
          this.loading = false
        },
        (response) => { // fail
          swal('Oops...', 'Falha ao carregar as categorias. Verifique sua conexão com a internet e tente novamente.', 'error')
        }
      )
    }
  }
}
</script>
