<template>
  <div>
    <!-- Main container -->
    <main class="main-content">
      <section class="section" style="padding-bottom: 0px;" id="section-form">
          <div class="container">
            <header class="section-header" style="margin: 0 auto 20px;">
              <h1 v-text="mainTitle"></h1>
              <hr>
            </header>
          </div>
      </section>
      <section class="section bg-gray" style="padding-top: 45px;padding-bottom: 45px;" v-show="!loading && posts.length > 0">
        <div class="container">
            <div class="row">
                <div class="card card-shadowed mb-20 col-md-5 offset-md-1" v-for="post in posts">
                    <div class="card-block">
                        <h4 class="card-title" v-text="post.title"></h4>
                        <p class="card-text" v-text="post.summary"></p>
                        <router-link  class="fw-600 fs-12"
                                      :to="{ name: 'view-post', params: { postId: post.id} }">
                            Continue lendo <i class="fa fa-chevron-right fs-9 pl-8"></i>
                        </router-link>
                        <div class="row">
                          <div class="col-md-3 mt-2" v-for="tag in post.tags">
                              <label class="btn btn-xs btn-secondary" v-text="tag.name"></label>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>

      <section class="section"  style="padding-top: 0;padding-bottom: 45px;" v-show="!loading && posts.length === 0">
        <div class="container" style="text-align: center;">
            <p class="lead">Chato isso né? Que tal você cadastrar o primeiro post?</p>
            <button class="btn btn-primary">Novo Post</button>
        </div>
      </section>
    </main>
    <!-- END Main container -->
  </div>
</template>

<script>
import http from '@/utils/http'

export default {
  name: 'home',
  data () {
    return {
      loading: true,
      posts: []
    }
  },
  computed: {
    mainTitle () {
      if (this.loading) {
        return 'Carregando os posts...'
      }
      if (!this.loading && this.posts.length === 0) {
        return 'Não existe nenhum post cadastrado!'
      }
      return 'Todos os Posts'
    }
  },

  mounted () {
    http.get('posts').then(
      (response) => {
        this.posts = response.data.data
        this.loading = false
      },
      (response) => {
        /* eslint-disable no-undef */
        swal('Oops...', 'Falha ao carregar os posts. Verifique sua conexão com a internet e tente novamente.', 'error')
      }
    )
    let socket = io('192.168.10.10:6001')
    let self = this
    socket.on('posts-channel:App\\Events\\PostCreated', function (data) {
      self.posts.unshift(data.post)
    })
  }
}
</script>
