<template>
  <div class="mh-fullscreen bg-img center-vh p-20">

    <div class="card card-shadowed p-50 w-400 mb-0" style="max-width: 100%">
      <h5 class="text-uppercase text-center">Login</h5>
      <br><br>

      <form @submit.prevent="doLogin()">
        <div class="form-group">
          <input type="text" class="form-control" v-model="form.email" required="" placeholder="e-mail">
        </div>

        <div class="form-group">
          <input type="password" class="form-control" v-model="form.password" required="" placeholder="senha">
        </div>

        <div class="form-group">
          <button class="btn btn-bold btn-block btn-primary" type="submit" v-show="!form.submiting">Login</button>
          <button class="btn btn-bold btn-block btn-primary" type="button" v-show="form.submiting">Acessando...</button>
        </div>
      </form>
      <p class="text-center text-muted fs-13 mt-20">
          Não possui uma conta?
          <router-link  :to="{ name: 'register' }">Cadastre-se</router-link>
      </p>
    </div>
  </div>
</template>

<script>
import http from '@/utils/http'

export default {
  name: 'login',
  data () {
    return {
      form: {
        email: '',
        password: '',
        submiting: false
      }
    }
  },
  methods: {
    doLogin () {
      this.form.submiting = true
      http.post('login', this.form).then(
        (response) => { // success
          localStorage.setItem('db1-token', response.data.access_token)
          localStorage.setItem('db1-user-id', response.data.user_id)
          this.$router.push({ path: '/' })
          this.form.submiting = false
        },
        (response) => { // fail
          /* eslint-disable no-undef */
          swal(
            'Oops',
            'Login ou Senha inválido(s)!',
            'error'
          )
          this.form.submiting = false
        }
      )
    }
  }
}
</script>
