<template>
  <div class="mh-fullscreen bg-img center-vh p-20">

    <div class="card card-shadowed p-50 w-400 mb-0" style="max-width: 100%">
      <h5 class="text-uppercase text-center">Registro</h5>
      <br><br>

      <form @submit.prevent="registerUser()">
        <div class="form-group">
          <input type="text" class="form-control" v-model="form.name" required="" placeholder="nome">
        </div>

        <div class="form-group">
          <input type="email" class="form-control" v-model="form.email" required="" placeholder="e-mail">
        </div>

        <div class="form-group">
          <input type="password" class="form-control"  v-model="form.password" required="" placeholder="senha">
        </div>

        <div class="form-group">
          <input type="password" class="form-control"  v-model="form.password_confirmation" required="" placeholder="confirme sua senha">
        </div>

        <div class="form-group">
          <button class="btn btn-bold btn-block btn-primary" type="submit" v-show="!form.submiting">Confirmar</button>
          <button class="btn btn-bold btn-block btn-primary" type="button" v-show="form.submiting">Cadastrando...</button>
        </div>
      </form>
      <p class="text-center text-muted fs-13 mt-20">
          Já possui uma conta?
          <router-link  :to="{ name: 'login' }">Faça Login</router-link>
      </p>
    </div>
  </div>
</template>

<script>
import http from '@/utils/http'

export default {
  name: 'register',
  data () {
    return {
      form: {
        name: '',
        email: '',
        password: '',
        password_confirmation: '',
        submiting: false
      }
    }
  },
  methods: {
    registerUser () {
      if (this.form.password !== this.form.password_confirmation) {
        /* eslint-disable no-undef */
        swal('Oops!', 'As senhas digitadas não conferem', 'error')
        return
      }
      this.form.submiting = true
      http.post('users', this.form).then(
        (response) => { // success
          swal('Sucesso!', 'Usuário cadastrado com sucesso. Você será redirecionado para a tela de login', 'success')
          setTimeout(() => {
            this.$router.push({ path: '/login' })
          }, 2000)
          this.form.submiting = false
        },
        (response) => { // fail
          /* eslint-disable no-undef */
          swal(
            'Oops',
            'Esse e-mail já está em uso!',
            'error'
          )
          this.form.submiting = false
        }
      )
    }
  }
}
</script>
