<template>
  <div>
    <!-- Main container -->
    <main class="main-content">

      <section class="section" id="section-form">
        <div class="container">
          <header class="section-header" style="margin: 0 auto 20px;">
            <h1 v-text="mainTitle"></h1>
            <hr>
          </header>

          <div class="row gap-y">
              <div class="col-12 col-lg-12">
                <button class="btn btn-primary float-right" @click="add()">Adicionar</button>
              </div>
              <div class="col-12 col-lg-12">
                  <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Nome</th>
                          <th>Opções</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="tag in tags">
                          <th scope="row" v-text="tag.id"></th>
                          <td v-text="tag.name"></td>
                          <td>
                              <button class="btn btn-warning btn-outline btn-sm"
                                      @click="edit(tag)">
                                  editar
                              </button>
                              <button class="btn btn-danger btn-outline btn-sm"
                                      @click="remove(tag.id)">
                                remover
                              </button>
                          </td>
                        </tr>
                        <tr v-show="!loading && tags.length === 0">
                          <td colspan="3">Nenhuma tag cadastrada</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
        </div>
      </section>
    </main>
    <!-- END Main container -->
    <div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="tagModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="tagModalLabel" v-text="currentTag.id === null ? 'Adicionar Tag' : 'Editar Tag'"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Cancelar">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="form-type-material" role="form" @submit.prevent="handleSubmit()">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Nome" name="nome" required="" v-model="currentTag.name">
                </div>
                <br>
                <button class="btn btn-bold btn-block btn-success" type="submit">Salvar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import http from '@/utils/http'

export default {
  name: 'tags',
  data () {
    return {
      loading: true,
      tags: [],
      currentTag: {
        id: null,
        name: ''
      }
    }
  },

  computed: {
    mainTitle () {
      if (this.loading) {
        return 'Carregando as tags...'
      }

      return 'Tags'
    }
  },

  mounted () {
    this.loadAll()
  },

  methods: {
    handleSubmit () {
      this.currentTag.id === null ? this.save() : this.update()
    },

    add () {
      this.currentTag = {
        id: null,
        name: ''
      }
      this.showModal()
    },

    showModal () {
      /* eslint-disable no-undef */
      jQuery('#tagModal').modal('show')
    },

    hideModal () {
      /* eslint-disable no-undef */
      jQuery('#tagModal').modal('hide')
    },

    save () {
      http.post('tags', this.currentTag).then(
        (response) => { // success
          this.loadAll()
          this.hideModal()
          swal('Sucesso!', 'Tag Adicionada', 'success')
        },
        (response) => { // fail
          this.hideModal()
          swal('Oops...', 'Falha ao salvar a tag!', 'error')
        }
      )
    },

    edit (tag) {
      this.currentTag = {
        id: tag.id,
        name: tag.name
      }
      this.showModal()
    },

    update () {
      http.put(`tags/${this.currentTag.id}`, this.currentTag).then(
        (response) => { // success
          this.loadAll()
          this.hideModal()
          swal('Sucesso!', 'Tag Atualizada', 'success')
        },
        (response) => { // fail
          this.hideModal()
          swal('Oops...', 'Falha ao atualizar a tag!', 'error')
        }
      )
    },

    remove (tagId) {
      let self = this
      swal({
        title: 'Você tem certeza?',
        text: 'Essa tag será removida do sistema e de todos os posts vinculados a ela.',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Sim, remova.',
        cancelButtonText: 'Cancelar'
      }).then(() => {
        http.delete(`tags/${tagId}`).then(
          (response) => {
            self.loadAll()
            swal(
              'Sucesso!',
              'Tag removida do sistema.',
              'success'
            )
          },
          (response) => {
            swal('Oops...', 'Falha ao remover a tag!', 'error')
          }
        )
      })
    },
    loadAll () {
      http.get(`tags`).then(
        (response) => { // success
          this.tags = response.data.data
          this.loading = false
        },
        (response) => { // fail
          swal('Oops...', 'Falha ao carregar as tags. Verifique sua conexão com a internet e tente novamente.', 'error')
        }
      )
    }
  }
}
</script>
