<template>
    <nav class="topbar topbar-expand-md" v-show="showNavbar">
        <div class="container">

          <div class="topbar-left">
            <button class="topbar-toggler">&#9776;</button>
            <p class="topbar-brand">DB1 GLOBAL SOFTWARE</p>
          </div>


          <div class="topbar-right">
            <ul class="topbar-nav nav">
              <li class="nav-item">
                  <router-link  class="nav-link" :to="{ name: 'home' }">Início</router-link>
              </li>

              <li class="nav-item" v-show="authenticated">
                <a class="nav-link" href="#">Posts <i class="fa fa-caret-down"></i></a>
                <div class="nav-submenu">
                  <router-link  class="nav-link" :to="{ name: 'posts' }">Gerenciar</router-link>
                  <router-link  class="nav-link" :to="{ name: 'new-post' }">Novo Post</router-link>
                </div>
              </li>
              <li class="nav-item" v-show="authenticated">
                  <router-link  class="nav-link" :to="{ name: 'tags' }">Tags</router-link>
              </li>
              <li class="nav-item"  v-show="authenticated">
                  <router-link  class="nav-link" :to="{ name: 'categories' }">Categorias</router-link>
              </li>
            </ul>

            <div class="d-inline-flex ml-30">
              <router-link  class="btn btn-sm btn-primary mr-4" :to="{ name: 'login' }"  v-show="!authenticated">Login</router-link>
              <router-link class="btn btn-sm btn-outline btn-primary hidden-sm-down" :to="{ name: 'register' }"  v-show="!authenticated">Registro</router-link>
            </div>
            <div class="d-inline-flex ml-30">
              <button class="btn btn-sm btn-outline btn-danger hidden-sm-down"  v-show="authenticated" @click="logout()">Desconectar</button>
            </div>
          </div>

        </div>
    </nav>
</template>

<script>
import http from '@/utils/http'

export default {
  data () {
    return {
      authenticated: false
    }
  },
  mounted () {
    this.checkAutenticated()
  },
  computed: {
    showNavbar () {
      return this.$route.name !== 'login' && this.$route.name !== 'register'
    }
  },
  methods: {
    checkAutenticated () {
      let token = ''
      token = localStorage.getItem('db1-token')
      this.authenticated = token !== null && token.length > 0
    },
    logout () {
      http.delete(`logout`).then(
        (response) => {},
        (response) => {}
      )
      localStorage.removeItem('db1-token')
      localStorage.removeItem('db1-user-id')
      this.authenticated = false
      this.$router.push({ path: '/' })
    }
  },
  watch: {
    '$route' (to, from) {
      this.checkAutenticated()
    }
  }
}
</script>
