<template>
  <div>
    <!-- Main container -->
    <main class="main-content">

      <section class="section" id="section-form">
        <div class="container">
          <header class="section-header">
            <h1 v-text="mainTitle"></h1>
            <hr>
          </header>

          <div class="row gap-y" v-show="!loading">
            <div class="col-12 col-lg-6 offset-lg-3">
            <form @submit.prevent="update()">
              <div class="form-group">
                <label>Título</label>
                <input class="form-control" type="text" v-model="post.title" required="" placeholder="título do seu post">
              </div>

              <div class="form-group">
                <label>Resumo</label>
                <input class="form-control" type="text" v-model="post.summary" required="" placeholder="título do seu post">
              </div>

              <div class="form-group">
                <label>Categoria</label>
                <select v-model="post.category.id" required="" class="form-control">
                  <option v-for="category in categories" :value="category.id" v-text="category.name"></option>
                </select>
              </div>

              <div class="form-group">
                <label>Descrição</label>
                <textarea class="form-control" v-model="post.description" required="" rows="7" placeholder="Digite aqui o conteúdo do seu post"></textarea>
              </div>

              <div class="form-group">
                <label>Tags</label>
                <multiselect  track-by="name" label="name"  :multiple="true"  placeholder="Selecione as tags"
                  v-model="post.tags"
                  :options="tags">
                </multiselect>
              </div>

              <div class="form-group">
                <label>Data de Publicação</label>
                <input class="form-control" type="text"  mask="11/11/1111" placeholder="dd/mm/aaaa"  v-model="post.publishing_date">
              </div>

              <div class="form-group">
                <button class="btn btn-success btn-block" type="submit" v-show="!submiting">Atualizar!</button>
                <button class="btn btn-success btn-block" type="button" v-show="submiting">Atualizando seu post...</button>
              </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- END Main container -->
  </div>
</template>

<script>
import http from '@/utils/http'
import Multiselect from 'vue-multiselect'
import MaskedInput from 'vue-masked-input'

export default {
  name: 'edit-post',
  data () {
    return {
      loading: false,
      submiting: false,
      categories: [],
      tags: [],
      post: {
        id: null,
        title: '',
        summary: '',
        tags: [],
        category_id: null,
        category: {
          id: null
        },
        description: '',
        publishing_date: '',
        submiting: false
      }
    }
  },

  mounted () {
    this.loading = true
    http.get(`posts/${this.$route.params.postId}`).then(
      (response) => {
        this.post = response.data.data
        if (this.post.author.id !== parseInt(localStorage.getItem('db1-user-id'))) {
          this.$router.push({ path: '/posts' })
        }
        this.loading = false
      },
      (response) => {
        /* eslint-disable no-undef */
        swal('Oops...', 'Falha ao carregar os posts. Verifique sua conexão com a internet e tente novamente.', 'error')
      }
    )
    this.loadResources()
  },
  components: {
    Multiselect,
    MaskedInput
  },
  computed: {
    mainTitle () {
      if (this.loading) {
        return 'Carregando o post...'
      }

      return this.post.title
    }
  },

  methods: {
    update () {
      this.submiting = true

      this.post.tags = this.post.tags.map((tag) => tag.id)
      this.post.category_id = this.post.category.id

      http.put(`posts/${this.post.id}`, this.post).then(
        (response) => {
          swal('Sucesso!', 'Post Atualizado!', 'success')
          setTimeout(() => {
            this.$router.push({ path: '/' })
          }, 2000)
          this.submiting = false
        },
        (response) => {
          this.submiting = false
          swal('Oops...', 'Falha ao salvar o post!', 'error')
        }
      )
    },

    loadResources () {
      http.get(`tags`).then(
        (response) => {
          this.tags = response.data.data
        },
        (response) => {
          swal('Oops...', 'Falha ao carregar as tags. Verifique sua conexão com a internet e tente novamente.', 'error')
        }
      )
      http.get(`categories`).then(
        (response) => {
          this.categories = response.data.data
        },
        (response) => {
          swal('Oops...', 'Falha ao carregar as categorias. Verifique sua conexão com a internet e tente novamente.', 'error')
        }
      )
    }
  }
}
</script>
