<template>
  <div>
    <!-- Main container -->
    <main class="main-content">

      <section class="section" id="section-form">
        <div class="container">
          <header class="section-header" style="margin: 0 auto 20px;">
            <h1 v-text="mainTitle"></h1>
            <hr>
          </header>

          <div class="row gap-y">
              <div class="col-12 col-lg-12">
                <router-link  class="btn btn-primary float-right" :to="{ name: 'new-post' }">Adicionar</router-link>
              </div>
              <div class="col-12 col-lg-12">
                  <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Título</th>
                          <th>Opções</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="post in posts">
                          <th scope="row" v-text="post.id"></th>
                          <td v-text="post.title"></td>
                          <td>
                              <div v-if="checkOwnership(post)">
                                  <router-link class="btn btn-warning btn-outline btn-sm"
                                               :to="{ name: 'edit-post', params: { postId: post.id} }">
                                    editar
                                  </router-link>
                                  <button class="btn btn-danger btn-outline btn-sm"
                                          @click="remove(post.id)">
                                    remover
                                  </button>
                              </div>
                              <div v-else>
                                  <button class="btn btn-secondary btn-outline btn-sm">
                                    editar
                                  </button>
                                  <button class="btn btn-secondary btn-outline btn-sm">
                                    remover
                                  </button>
                              </div>
                          </td>
                        </tr>
                        <tr v-show="!loading && posts.length === 0">
                          <td colspan="3">Nenhum post cadastrada</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
        </div>
      </section>
    </main>
    <!-- END Main container -->
  </div>
</template>

<script>
import http from '@/utils/http'

export default {
  name: 'posts',
  data () {
    return {
      loading: true,
      posts: [],
      currentPost: {
        id: null,
        name: ''
      }
    }
  },

  computed: {
    mainTitle () {
      if (this.loading) {
        return 'Carregando os posts...'
      }

      return 'Posts'
    }
  },

  mounted () {
    this.loadAll()
  },

  methods: {
    checkOwnership (post) {
      return post.author.id === parseInt(localStorage.getItem('db1-user-id'))
    },
    remove (postId) {
      let self = this
      /* eslint-disable no-undef */
      swal({
        title: 'Você tem certeza?',
        text: 'Esse post será removido do sistema permanentemente.',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Sim, remova-o.',
        cancelButtonText: 'Cancelar'
      }).then(() => {
        http.delete(`posts/${postId}`).then(
          (response) => {
            self.loadAll()
            swal(
              'Sucesso!',
              'Post removido do sistema.',
              'success'
            )
          },
          (response) => {
            swal('Oops...', 'Falha ao remover o post!', 'error')
          }
        )
      })
    },
    loadAll () {
      http.get(`posts`).then(
        (response) => { // success
          this.posts = response.data.data
          this.loading = false
        },
        (response) => { // fail
          swal('Oops...', 'Falha ao carregar os posts. Verifique sua conexão com a internet e tente novamente.', 'error')
        }
      )
    }
  }
}
</script>
