<template>
  <div>
    <!-- Header -->
    <header class="header">
      <div class="container text-center">

        <div class="row">
          <div class="col-12 col-lg-8 offset-lg-2">
            <h1 v-text="mainTitle"></h1>
            <p class="fs-18" v-show="!loading" v-text="'Categoria: ' + post.category.name"></p>
          </div>
        </div>

      </div>
    </header>
    <!-- END Header -->

    <!-- Main container -->
    <main class="main-content" v-show="!loading">
      <div class="section" style="padding-top: 0px;" id="section-content">
        <div class="container">

          <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
              <!-- <small v-text="post.category.name" style="text-align: center;"></small> -->
              <p class="lead" v-text="post.description"></p>
              <hr class="w-100">
              <div class="gap-multiline-items-1 mt-30" v-show="post.tags.length > 0">
                  <a class="badge badge-pill badge-default"  v-for="tag in post.tags">{{ tag.name }}</a>
              </div>
            </div>
          </div>

        </div>
      </div>

    </main>
    <!-- END Main container -->
  </div>
</template>

<script>
import http from '@/utils/http'

export default {
  name: 'view-post',
  data () {
    return {
      loading: true,
      post: {
        category: {
          name: ''
        },
        tags: []
      }
    }
  },
  computed: {
    mainTitle () {
      if (this.loading) {
        return 'Carregando o post...'
      }

      return this.post.title
    }
  },

  mounted () {
    http.get(`posts/${this.$route.params.postId}`).then(
      (response) => { // success
        this.post = response.data.data
        this.loading = false
      },
      (response) => { // fail
        console.log(response)
      }
    )
  }
}
</script>
